.footer {
  bottom: 0;
  position: relative;
  overflow-x: hidden;
  margin: 0 !important;
  /* min-height: -webkit-fill-available; */
  font-size: 16px;
  min-width: 100%;
  /* background: #efefef; */
}

.table-item {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

tr {
  font-size: 17px !important;
}
