.navBar {
  overflow: hidden;
  /* margin: 0 !important; */
  background-color: white;
  /* width: 100%;
  padding: 10px 5px;
  min-height: -webkit-fill-available;
  font-size: 16px; */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70%;
  max-height: 70%;
}

.name {
  color: coral;
  padding: 10px;
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  background-color: rgb(245, 200, 184);
}

.details {
  display: flex;
  align-items: center;
}

.notification {
  display: flex;
  align-items: center;
}
