@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("http://localhost:3000/fonts/Vazir.eot");
  src: url("http://localhost:3000/fonts/Vazir.eot?#iefix")
      format("embedded-opentype"),
    url("http://localhost:3000/fonts/Vazir.woff2") format("woff2"),
    url("http://localhost:3000/fonts/Vazir.woff") format("woff"),
    url("http://localhost:3000/fonts/Vazir.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("http://localhost:3000/fonts/Vazir-Bold.eot");
  src: url("http://localhost:3000/fonts/Vazir-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("http://localhost:3000/fonts/Vazir-Bold.woff2") format("woff2"),
    url("http://localhost:3000/fonts/Vazir-Bold.woff") format("woff"),
    url("http://localhost:3000/fonts/Vazir-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: lighter;
  src: url("http://localhost:3000/fonts/Vazir-Light.eot");
  src: url("http://localhost:3000/fonts/Vazir-Light.eot?#iefix")
      format("embedded-opentype"),
    url("http://localhost:3000/fonts/Vazir-Light.woff2") format("woff2"),
    url("http://localhost:3000/fonts/Vazir-Light.woff") format("woff"),
    url("http://localhost:3000/fonts/Vazir-Light.ttf") format("truetype");
}
.App {
  background-color: #f5fafc;
}
body {
  font-family: "Vazir", Arial, sans-serif;
  font-weight: normal;

  /* overflow-x: hidden; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

button {
  outline: none;
}
a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: rgb(115, 172, 145) !important;
}

a:visited {
  color: rgb(115, 172, 145);
}
