.dashboard {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 10px 10px;
  font-size: 16px;
  right: 0;
  max-width: inherit;
  /* background: #efefef; */
}

.dashboard-avatar {
  border-radius: 50%;
  max-width: 65%;
  /* max-height: 55%; */
}

.dashboard-email {
  color: rgb(180, 180, 180);
}

.options {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 2rem;
  min-width: 100%;
  min-height: 100vh;
}
.dashboard-li :hover {
  color: rgb(81, 96, 133) !important;
  background-color: #cdcdec;
}
.dashboard-li {
  cursor: pointer;
  width: 100%;
}

.dashboard-item {
  padding: 0.5rem;
  border-radius: 10px;
  color: #a1a1cf;
  width: 100%;
  width: inherit;
  margin: 0 !important;
}
